{% extends "appobs/home.html" %}
{% block h1_header %} Datos de Velocidad Viento {%endblock h1_header %} 
{% block main_content %}
<br>
    {% for object in object_list %}

        <li>
            <p>NOMBRE: {{object.date}}</p>
            <p>
                <a href="{% url 'WindDetail' object.id %}">Ver</a>
                <a href="{% url 'WindEdit' object.id %}">Editar</a>
                <a href="{% url 'WindDelete' object.id %}">Borrar</a>
            </p>
        </li>

    {% endfor %}

<button onclick="location.href = '/'">Regresar Home</button>
{% endblock main_content %}

